html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
h3 {
  color: hsl(234, 12%, 34%);
}

h2 {
  font-size: 1.55rem;
  margin-top: 0;
}
.p-large {
  margin-bottom: 0;
}

.p-large {
  font-size: 1.5rem;
}

p {
  color: hsl(229, 6%, 66%);
}

.container {
  background-color: hsl(0, 0%, 98%);
  width: 100vw;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-section {
  width: 325px;
  padding: 25px;
  margin: 25px;
  text-align: center;
}

.card {
  background-color: white;
  width: 315px;
  padding: 25px;
  border-radius: 8px;
  margin: 25px;
  box-shadow: rgba(84, 158, 242, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card1 {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.card2 {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.card3 {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.card4 {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.img-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1100px) {
  .outer {
    display: flex;
    flex-wrap: no-wrap;
  }
  .outer1,
  .outer3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .outer2 {
    flex-direction: column;
  }
}
